@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap");

@keyframes left-to-right {
  from {
    transform: translateX(-200%);
    opacity: 0%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes right-to-left {
  from {
    transform: translateX(200%);
    opacity: 0%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

:root {
  --base-color: #1d2d44;
  --sub-base-color: #3e5c76;
  --sub-color: #0d1321;
  --text-color: #f0ebd8;
  --base-p-fs: calc(0.8rem + 0.7vw);
  --base-h1-fs: calc(2rem + 2vw);
  --base-h2-fs: calc(1rem + 0.8vw);
  --base-h3-fs: calc(1.2rem + 1vw);
  --base-h1-ff: "Secular One", sans-serif;
  --base-h2-ff: "Assistant", sans-serif;
  --base-p-ff: "Volkhov", sans-serif;
  --logo-width: max(25px, 20%);
  --base-paragraph-ff: "Nanum Myeongjo", sans-serif;
  --base-margin: 1em 4em;
  --base-padding: 1em 1em;
  --box-shadow: 5px 10px 30px black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vh;
  height: 100vh;
  background: #008dff;
  border-radius: 60%;
  transform-origin: bottom;
  transform: translateX(-130%) scale(4);
}

.header-content {
  z-index: 1;
}

.container {
  padding: 1em 0em;
  width: 85%;
  margin: 0 auto;
}

.img-container {
  /* border: 1px solid red; */
  width: 40%;
  position: relative;
  margin: 0 auto;
  transform: scale(1.3);
}

.img-container h1 {
  position: absolute;
  bottom: 0;
  color: aliceblue;
  text-align: center;
  font-size: calc(1.3rem + 1vw);
}

.about-me-container {
  margin-top: 4em;
}

.about-me-container h2 {
  text-align: center;
}

.about-me-container p {
  font-size: calc(1.1rem + 0.9vw);
  margin-bottom: 0.4em;
}

.about-me-container .socials-container {
  display: flex;
  justify-content: center;
}

.socials-container i {
  width: var(--logo-width);
}

/* SECTION ONE */
.my-work {
}

.my-work h2 {
  text-align: center;
}

.work-container {
}

.work-container > div {
  margin-bottom: 0.9em;
  padding: 0.5em;
  background-color: #3e5c76;
  border-radius: 0.5em;
}

.project-img {
  min-height: 200px;
  background: url("/src/Assets/pexels-pixabay-270366.jpg") no-repeat center
    center/cover;
  margin-bottom: 0.5em;
}

.project-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

/* FOOTER SECTION */
footer {
  background-color: #008dff;
}

.footer-section h2 {
  color: white;
  text-align: center;
  margin-bottom: 0.3em;
}

.footer-section p {
  color: white;
  margin-bottom: 0.3em;
}

.footer-socials {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: var(--logo-width);
  gap: 10px;
  margin: 0 auto;
}
